{{!< default}}

<header role="banner">
    <div class="wrap">
        <h1><a href="{{@blog.url}}">{{@blog.title}}</a></h1>
        <hr>
    </div>
</header>{{tag_cloud limit=10}}

{{> "loop"}}

{{> "footer"}}